<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="styles/style.css" />
		<meta http-equiv="Content-type" content="text/html;charset=utf-8">	
		<meta http-equiv="refresh" content="5; url=/">	
		<title>rank-es</title>
		
		{% include 'include_google_analytics.html' %}
	</head>
		
	<body>
		<h1>rank-es</h1>
		<p>Lo sentimos, la dirección <code>{{ url }}</code> ya está en la base de datos
		o no es una página que podamos incluir. ¡Sigue buscando! Volvemos
		a la página principal en 5, 4, 3...</p>
	</body>
</html>