<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="styles/style.css" />
		<meta http-equiv="Content-type" content="text/html;charset=utf-8">	
		<title>rank-es</title>
		
		{% include 'include_google_analytics.html' %}
	</head>
	<script type="text/javascript" language="JavaScript">
		function closeWindow() {
			setTimeout(function() {
				window.close();
			}, 5000);
		}

		window.onload = closeWindow();
	</script>
		
	<body>
		<h1>rank-es</h1>
		<p>Gracias por enviarnos la página. Ha sido incluida en la base de
		datos con una puntuación de {{ score }}.</p>
	</body>
</html>