body {
	width: 80%;
	margin: 1em auto;
	font-family: sans-serif;
}

h1, h2 {
	font-family: monospace;
	color: #666;
}

input.url {
	font-family: monospace;
	font-size: 120%;
	color: #666;
	border: 1px solid gray;
	width: 100%;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

label.url_helper {
	font-family: monospace;
}

div.main {
    width: 75%;
    float: left;
}

div.column {
    width: 20%;
    float: right;
}

div.link {
	clear: both;
	padding: 5px;
	border: 1px dashed #ccc;
	margin: 0.5em 0;
	min-height: 4em;
}

div.link_score {
	float: left;
	font-weight: bold;
	width: 5em;
	font-size: 150%;
}

div.link_data {
	margin-left: 8em;
	float: center;
}

a {
	font-weight: bold;
	color: #666;
}

div.link_social {
	margin-top: 0.5em;
	font-size: 65%;
}

span.link_url {
	font-family: monospace;
	font-size: 90;
}
